@import "Home.css";
@import "Pixels.css";
@import "Water.css";
@import "Lines.css";

body {
  background-color: beige;
}

.info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  font-family: "Arial", sans-serif;
  color: steelblue;
  line-height: 100%;
  text-align: center;
}

.info h1,
.info h2 {
  line-height: 100%;
  margin: 10px;
}

.info__title--overtime {
  color: orangered;
}

.percentage {
  font-size: 2.5em;
}
