@keyframes wave {
  from {transform: translateX(0)}
  to {transform: translateX(-33.333%);}
}

.area {
  animation-name: wave;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
